<div class="list-toolbar">
  <div class="list-toolbar-search">
    <span antIcon type="search" theme="outline" class="list-toolbar-search-icon"></span>
    <input
      type="search"
      class="form-control form-control-sm list-toolbar-search-input"
      [placeholder]="searchPlaceholder()"
      [ngModel]="search()"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>

  <div class="list-toolbar-limit">
    <label class="list-toolbar-limit-label" [attr.for]="limitSelectId">Show</label>
    <ng-select
      [labelForId]="limitSelectId"
      class="list-toolbar-limit-select"
      [items]="limitOptions()"
      [ngModel]="limit()"
      (ngModelChange)="onLimitChange($event)"
      [searchable]="false"
      [clearable]="false"
    >
    </ng-select>
    <span class="list-toolbar-limit-label">entries</span>
  </div>
</div>
